<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="city_traffic_expense_form" id="cityTrafficExpenseFormBlock">
    <div class="container">
      <h3 class="text-center">市内交通报销单</h3>
      <form class="form-horizontal" id="cityTrafficExpenseForm" method="POST" th:object="${CityTrafficExpenseViewObject}">
        <div>
			<div th:replace="fragments/document_expense_form :: voucher_input(0)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-traffic-voucher-button" onclick="addTrafficVoucher();" style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		
		<div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">部门:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:id="${department}"
		  th:value="${user.college}" th:name="|department|" readOnly="readOnly"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">经费卡号:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" id="cardnum"
		  placeholder="请输入经费卡号" required="required" th:field="*{cardnum}"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="createtime">填表时间:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:id="${createtime}"
		  th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}"
		  th:name="|createtime|" readOnly="readOnly"/>
		  </div>
	    </div>
	    <div class="col-md-12">
         <div th:replace="fragments/city_traffic_expense_form :: traffic_info_input(0)"></div>
	    
	     <button type="button" class="btn btn-info pull-left" id="add-traffic-input-button" onclick="addTrafficInput();"
	     style="margin-left:4px">
	     <span class= "glyphicon glyphicon-plus"></span>
	     </button>
	    </div>
	    <div class="form-group required col-md-4">
		<label class="control-label col-md-5" for="expense_type">报销类型：</label>
		  <div class="col-md-7">
		    <select  class="form-control" id="expense_type" th:field="*{application_Type}">
		      <option value=" "></option>
		      <option th:value="DailyExpense">日常报销</option>
		      <option th:value="ProjectExpense">项目报销</option>
		    </select>
		  </div>
         </div>
         
	     <div class="form-group required col-md-4">
		  	<label class="control-label col-md-5" for="paymode">付款方式:</label>
		  	<div class="col-md-7">
				<select class="form-control" id="paymode" th:field="*{paymode}" onchange="showRequiredInfo(this.value);">
					<option value=" "></option>
					<option value="check"> 支票 </option>
					<option value="mail-transfer"> 信汇 </option>
					<option value="cash"> 现金 </option>
					<option value="borrow"> 冲借支 </option>
					<option value="online-payment"> 网上支付 </option>
				</select>
			</div>
	    </div>
	    <div style="display:none" class="paymentInfo col-md-12">
		     <div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="payee-name">收款单位名称:</label>
			  <div class="col-md-7">
			  <input type="text" class="form-control" id="payee-name" th:field="*{payee.payee_name}"
			  placeholder="请输入收款单位名称"/>
			  </div>
		    </div>
		  
		    <div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="payee-account">收款单位账户:</label>
			  <div class="col-md-7">
			  <input type="text" class="form-control" id="payee-account" th:field="*{payee.payee_account}"
			  placeholder="请输入收款单位账户"/>
			  </div>
		    </div>
		  
		    <div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="payee-account-opening-bank">收款单位银行:</label>
			  <div class="col-md-7">
			 <input type="text" class="form-control" id="payee-account-opening-bank" th:field="*{payee.payee_account_opening_bank}"
			 placeholder="请输入收款单位银行"/>
			  </div>
		    </div>
        </div>
		
		<div id="payeePerson" class="form-group required col-md-4" style="display:none">
		  <label class="control-label col-md-5" for="reason_of_travel">领款人:</label>
		  <div class="col-md-7">
		    <input type="text" class="form-control" th:field="*{payPerson}"
		     placeholder="请输入领款人"/>
		  </div>
		</div>
		
		<div class="col-md-3">
	      <button type="submit" class="btn btn-info pull-right" id="city-traffic-expense-submit">提交</button>
         </div>
		
      
      </form>
    </div>
   </div>
   
   <div th:fragment="traffic_info_input(itemIndex)">
   <script>
	dateConfiguration();
   </script>
    <div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="name">姓名:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" th:name="|cityTrafficItems[${itemIndex}].name|" 
	    placeholder="请输入姓名" required="required"/>
	  </div>
	</div>
	  
 	 <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="date">日期:</label>
		    <div class="col-md-7">
			  <div class='input-group date form_date' data-date-format="yyyy-mm-dd">  
                <input type='text' class="form-control" readonly="readonly"
		        th:name="|cityTrafficItems[${itemIndex}].date|" required="required"/>  
                <span class="input-group-addon">  
                    <i class="glyphicon glyphicon-calendar"></i>  
                </span> 
             </div> 
           </div>  
    </div>
	
	<div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="travelReason">出差事由:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" th:name="|cityTrafficItems[${itemIndex}].travelReason|" 
	    placeholder="请输入出差事由" required="required"/>
	  </div>
	</div>
	
	<div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="reason_of_travel">起止地点:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" th:name="|cityTrafficItems[${itemIndex}].startEndPosition|" 
	    placeholder="请输入起止地点" required="required"/>
	  </div>
	</div>
	
	<div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="fare">车费:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" th:name="|cityTrafficItems[${itemIndex}].fare|" 
	    placeholder="请输入车费" required="required"/>
	  </div>
	</div>
	
	<div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="otherfare">其他:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" th:name="|cityTrafficItems[${itemIndex}].otherfare|"
	    placeholder="请输入其他费用"/>
	  </div>
	</div>
	
	<div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="total">合计:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" th:name="|cityTrafficItems[${itemIndex}].total|" 
	    placeholder="请输入合计"/>
	  </div>
	</div>
  
    <button type="button" class="btn btn-info pull-left" id="delete-traffic-item-button" onclick="deleteTrafficItem();">
	     <span class= "glyphicon glyphicon-remove"></span>
	 </button>
  </div>
</body>
</html>