<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="document_expense_form" id="documentExpenseFormBlock">
    <div class="container">
      <h3 class="text-center">单据报销单</h3>
      <form class="form-horizontal" id="documentExpenseForm" method="POST" th:object="${DocumentExpenseViewObject}">
		<div>
			<div th:replace="fragments/document_expense_form :: voucher_input(0)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-voucher-button" onclick="addVoucher();" style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
				
		<div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">部门:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" id="college" th:name="*{department}"
		  placeholder="请输入部门" th:value="${user.college}" readOnly="readOnly"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">经费卡号:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" id="cardnum"
		  placeholder="请输入经费卡号" required="required" th:field="*{cardnum}"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="createtime">填表时间:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" id="createtime"
		  th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}"
		  th:name="*{createtime}" readOnly="readOnly"/>
		  </div>
	    </div>
	    
	    <div>
		     <div th:replace="fragments/document_expense_form :: item_input(0)"></div>
		     <button type="button" class="btn btn-info pull-left" id="add-item-button" onclick="addItem();"
		     style="margin-left:4px">
		     <span class= "glyphicon glyphicon-plus"></span>
		     </button>
	     </div>
	     
	     	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="activityName">活动名称:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" id="activityName"
		  placeholder="请输入活动名称" th:field="*{activityName}"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  	<label class="control-label col-md-5" for="paymode">付款方式:</label>
		  	<div class="col-md-7">
				<select class="form-control" id="paymode" th:field="*{paymode}" onchange="showRequiredInfo(this.value);">
					<option value=" "></option>
					<option value="check"> 支票 </option>
					<option value="mail-transfer"> 信汇 </option>
					<option value="cash"> 现金 </option>
					<option value="borrow"> 冲借支 </option>
					<option value="online-payment"> 网上支付 </option>
				</select>
			</div>
	    </div>
	    <div style="display:none" class="paymentInfo col-md-12">
		     <div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="payee-name">收款单位名称:</label>
			  <div class="col-md-7">
			  <input type="text" class="form-control" id="payee-name" th:field="*{payee.payee_name}"
			  placeholder="请输入收款单位名称"/>
			  </div>
		    </div>
		  
		    <div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="payee-account">收款单位账户:</label>
			  <div class="col-md-7">
			  <input type="text" class="form-control" id="payee-account" th:field="*{payee.payee_account}"
			  placeholder="请输入收款单位账户"/>
			  </div>
		    </div>
		  
		    <div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="payee-account-opening-bank">收款单位银行:</label>
			  <div class="col-md-7">
			 <input type="text" class="form-control" id="payee-account-opening-bank" th:field="*{payee.payee_account_opening_bank}"
			 placeholder="请输入收款单位银行"/>
			  </div>
		    </div>
        </div>
	    
 		<div class="form-group required col-md-4">
		<label class="control-label col-md-5" for="expense_type">报销类型：</label>
		  <div class="col-md-7">
		    <select  class="form-control" id="expense_type" th:field="*{expense_type}">
		      <option value=" "></option>
		      <option th:value="activity_expense">活动报销</option>
		      <option th:value="medical_expense">医疗报销</option>
		      <option th:value="daily_expense">日常报销</option>
		      <option th:value="project_expense">项目报销</option>
		    </select>
		  </div>
         </div>
	    
	     <div class="col-md-3">
	      <button type="submit" class="btn btn-info pull-right" id="document-expense-submit">提交</button>
         </div>

         
      </form>
    </div>
</div>

  <div th:fragment="item_input(itemIndex)">
    <div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="college">小项:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" id="item"
	    placeholder="请输入小项名称" required="required" th:name="|items[${itemIndex}].item_name|"/>
	  </div>
	</div>
	  
    <div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="cardnum">金额:</label>
	  <div class="col-md-7">
	    <input type="text" class="form-control" id="money"
	    placeholder="请输入金额" required="required" th:name="|items[${itemIndex}].item_money|"/>
	  </div>
    </div>
	  
    <div class="form-group required col-md-4">
	  <label class="control-label col-md-5" for="">备注:</label>
	  <div class="col-md-7">
	  <input type="text" class="form-control" id="description" th:name="|items[${itemIndex}].item_description|"
	    placeholder="备注"/>
	  </div>
    </div>
    
     <button type="button" class="btn btn-info pull-left" id="delete-item-button" onclick="deleteItem();">
	     <span class= "glyphicon glyphicon-remove"></span>
	 </button>
    
  </div>
  
  <div th:fragment="voucher_input(voucherIndex)">
    <div class="form-group col-md-11">
     <label class="control-label col-md-2">凭证</label>
      <div class="col-md-10">
           <div class="fileupload fileupload-new" data-provides="fileupload">
               <div class="fileupload-preview thumbnail"  style="width:800px; height: 300px;"></div>
               <div>
                   <span class="btn btn-file btn-success">
                   <span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span>
                   <input type="file" th:name="|vouchers[${voucherIndex}].enclosure|"/>
                   </span>
                   <a href="#" class="btn btn-danger fileupload-exists" data-dismiss="fileupload">Remove</a>
               </div>
           </div>
      </div>
   </div>
   <button type="button" class="btn btn-info pull-left" id="delete-voucher-button" onclick="deleteVoucher();">
	     <span class= "glyphicon glyphicon-remove"></span>
   </button>
 </div>
</body>
</html>