<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="onboard_travel_expense_form" id="onboard_travelExpenseFormBlock">
    <div class="container">
      <h3 class="text-center">临时出国人员报销单</h3>
      <form class="form-horizontal" id="onboardTravelExpenseForm" method="POST" th:object="${OnboardTravelExpenseViewObject}"
      th:action="@{apply/onbroadtravelexpense}">

		<div>
			<div th:replace="fragments/document_expense_form :: voucher_input(0)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-onboard-travel-voucher-button" onclick="addOnboardTravelVoucher();"
				style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>

		<div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">部门:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:id="${department}"
		  th:value="${user.college}" th:name="|department|" readOnly="readOnly"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">经费卡号:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" id="cardnum"
		  placeholder="请输入经费卡号" required="required" th:field="*{cardnum}"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="createtime">填表时间:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:id="${createtime}"
		  th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}"
		  th:name="|createtime|" readOnly="readOnly"/>
		  </div>
	    </div>
	    
	    	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">出差开始时间:</label>
		    <div class="col-md-7">
			  <div class='input-group date form_date' data-date-format="yyyy-mm-dd">  
                <input type='text' class="form-control" readonly="readonly"
		        th:field ="*{startTraveltime}" required="required"/>  
                <span class="input-group-addon">  
                    <i class="glyphicon glyphicon-calendar"></i>  
                </span> 
              </div> 
            </div>  
		 </div>
	  
	 	 <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">出差结束时间:</label>
		    <div class="col-md-7">
			  <div class='input-group date form_date' data-date-format="yyyy-mm-dd">  
                <input type='text' class="form-control" readonly="readonly"
		        th:field="*{endTraveltime}" required="required"/>  
                <span class="input-group-addon">  
                    <i class="glyphicon glyphicon-calendar"></i>  
                </span> 
              </div> 
            </div>  
		 </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">出差事由:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{onboardReason}"
		   placeholder="请输入出差事由" required="required"/>
		  </div>
	    </div>
	    
	    <input type="hidden" class="form-control" th:name="|abroadItems[0].name|" th:value="伙食费"/>
		  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="days">伙食费天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[0].days|"
		  placeholder="请输入天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">伙食费币种:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" 
		   placeholder="请输入币种" required="required" th:name="|abroadItems[0].currency|"/>
		  </div>
	    </div>
	    
	      <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="standard">伙食费标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control"  th:name="|abroadItems[0].standard|"
		  placeholder="请输入标准" required="required"/>
		  </div>
	    </div>
	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">伙食费外汇金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[0].foreignExchange|"
		  placeholder="请输入外汇金额" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">伙食费折算汇率:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[0].exchangeRate|"
		  placeholder="请输入折算汇率" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">伙食费折合RNB:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[0].RNBNum|"
		  placeholder="请输入折合RNB" required="required"/>
		  </div>
	    </div>
	    
	    <input type="hidden" class="form-control" th:name="|abroadItems[1].name|" th:value="公杂费"/>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="">公杂费天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[1].days|"
		  placeholder="请输入天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公杂费币种:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[1].currency|"
		  placeholder="请输入币种" required="required"/>
		  </div>
	    </div>
	    
	      <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公杂费标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[1].standard|"
		  placeholder="请输入标准" required="required"/>
		  </div>
	    </div>
	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公杂费外汇金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[1].foreignExchange|"
		  placeholder="请输入外汇金额" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公杂费折算汇率:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[1].exchangeRate|"
		  placeholder="请输入折算汇率" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公杂费折合RNB:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[1].RNBNum|"
		  placeholder="请输入折合RNB" required="required"/>
		  </div>
	    </div>
	    
	    <input type="hidden" class="form-control" th:name="|abroadItems[2].name|" th:value="住宿费"/>
	    
	   <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="">住宿费天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[2].days|"
		  placeholder="请输入天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">住宿费币种:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[2].currency|"
		  placeholder="请输入币种" required="required"/>
		  </div>
	    </div>
	    
	      <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">住宿费标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[2].standard|"
		  placeholder="请输入标准" required="required"/>
		  </div>
	    </div>
	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">住宿费外汇金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[2].foreignExchange|"
		   placeholder="请输入外汇金额" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">住宿费折算汇率:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[2].exchangeRate|"
		  placeholder="请输入折算汇率" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">住宿费折合RNB:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[2].RNBNum|"
		  placeholder="请输入折合RNB" required="required"/>
		  </div>
	    </div>
	    
	    <input type="hidden" class="form-control" th:name="|abroadItems[3].name|" th:value="公务费"/>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="">公务费天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[3].days|"
		  placeholder="请输入天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公务费币种:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[3].currency|"
		  placeholder="请输入币种" required="required"/>
		  </div>
	    </div>
	    
	      <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公务费标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[3].standard|"
		  placeholder="请输入标准" required="required"/>
		  </div>
	    </div>
	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公务费外汇金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[3].foreignExchange|"
		  placeholder="请输入外汇金额" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公务费折算汇率:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[3].exchangeRate|"
		  placeholder="请输入折算汇率" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">公务费折合RNB:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[3].RNBNum|"
		  placeholder="请输入折合RNB" required="required"/>
		  </div>
	    </div>
	    
	    <input type="hidden" class="form-control" th:name="|abroadItems[4].name|" th:value="城市交通费"/>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="">城市交通费天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[4].days|"
		  placeholder="请输入天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">城市交通费币种:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[4].currency|"
		  placeholder="请输入币种" required="required"/>
		  </div>
	    </div>
	    
	      <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">城市交通费标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[4].standard|"
		  placeholder="请输入标准" required="required"/>
		  </div>
	    </div>
	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">城市交通费外汇金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[4].foreignExchange|"
		  placeholder="请输入外汇金额" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">城市交通费折算汇率:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[4].exchangeRate|"
		  placeholder="请输入折算汇率" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">城市交通费折合RNB:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[4].RNBNum|"
		  placeholder="请输入折合RNB" required="required"/>
		  </div>
	    </div>
	    
	    <input type="hidden" class="form-control" th:name="|abroadItems[5].name|" th:value="其他费用"/>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="">其他天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[5].days|"
		  placeholder="请输入天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">其他币种:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[5].currency|"
		  placeholder="请输入币种" required="required"/>
		  </div>
	    </div>
	    
	      <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">其他标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[5].standard|"
		  placeholder="请输入标准" required="required"/>
		  </div>
	    </div>
	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">其他外汇金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control"  th:name="|abroadItems[5].foreignExchange|"
		  placeholder="请输入外汇金额" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">其他折算汇率:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[5].exchangeRate|"
		  placeholder="请输入折算汇率" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">其他折合RNB:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|abroadItems[5].RNBNum|"
		  placeholder="请输入折合RNB" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">汇兑手续费（RNB）:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{abroadOtherInfo.remittanceFeeRNB}"
		  placeholder="请输入汇兑手续费" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">汇兑损益（收益用'-'表示/RNB）:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{abroadOtherInfo.remittancePLRNB}"
		  placeholder="请输入汇兑损益" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">出国机票费（RNB）:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{abroadOtherInfo.airTicketFeeRNB}"
		  placeholder="请输入出国机票费" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">交通及其他费用（RNB）:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{abroadOtherInfo.trafficOrOtherFeeRNB}"
		  placeholder="请输入交通及其他费用" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">出国总费用（RNB）:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{total}"
		  placeholder="请输入出国总费用" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">说明:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{abroadOtherInfo.description}"
		  placeholder="请输入说明"/>
		  </div>
	    </div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="onboardPaymode">付款方式:</label>
			<div class="col-md-7">
				<select class="form-control" th:field="*{onboardPaymode}"
					onchange="showRequiredInfo(this.value);">
					<option value=" "></option>
					<option value="check">支票</option>
					<option value="mail-transfer">信汇</option>
					<option value="cash">现金</option>
					<option value="borrow">冲借支</option>
					<option value="online-payment">网上支付</option>
				</select>
			</div>
		</div>

		<div style="display: none" class="paymentInfo col-md-12">
			<div class="form-group required col-md-4">
				<label class="control-label col-md-5" for="payee-name">收款单位名称:</label>
				<div class="col-md-7">
					<input type="text" class="form-control"
						th:field="*{payee.payee_name}" placeholder="请输入收款单位名称" />
				</div>
			</div>

			<div class="form-group required col-md-4">
				<label class="control-label col-md-5" for="payee-account">收款单位账户:</label>
				<div class="col-md-7">
					<input type="text" class="form-control" id="payee-account"
						th:field="*{payee.payee_account}" placeholder="请输入收款单位账户" />
				</div>
			</div>

			<div class="form-group required col-md-4">
				<label class="control-label col-md-5"
					for="payee-account-opening-bank">收款单位银行:</label>
				<div class="col-md-7">
					<input type="text" class="form-control"
						id="payee-account-opening-bank"
						th:field="*{payee.payee_account_opening_bank}"
						placeholder="请输入收款单位银行" />
				</div>
			</div>
		</div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="expense_type">报销类型：</label>
			<div class="col-md-7">
				<select class="form-control" id="expense_type"
					th:field="*{application_Type}"
					onchange="expenseTypeAction(this.value);">
					<option value=" "></option>
					<option th:value="DailyExpense">日常报销</option>
					<option th:value="ProjectExpense">项目报销</option>
				</select>
			</div>
		</div>

		<div class="col-md-3">
	      <button type="submit" class="btn btn-info pull-right" id="document-expense-submit">提交</button>
         </div>
	    
      </form>
    </div>
  </div>

</body>
</html>