<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
  <div th:fragment="travel_expense_form" id="travelExpenseFormBlock">
    <div class="container">
      <h3 class="text-center">出差费用报销单</h3>
      <form class="form-horizontal" id="travelExpenseForm" method="POST" th:object="${TravelExpenseViewObject}">
        <div>
			<div th:replace="fragments/document_expense_form :: voucher_input(0)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-travel-voucher-button" onclick="addTravelVoucher();" style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
				
        <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">部门:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:id="${department}"
		  th:value="${user.college}" th:name="|department|" readOnly="readOnly"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">经费卡号:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" id="cardnum"
		  th:field="*{cardnum}" placeholder="请输入经费卡号" required="required"/>
		  </div>
	    </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="createtime">填表时间:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:id="${createtime}"
		  th:value="${#dates.format(new java.util.Date().getTime(), 'yyyy-MM-dd')}"
		  th:name="|createtime|" readOnly="readOnly"/>
		  </div>
	    </div>
	    
	     <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">出差开始时间:</label>
		    <div class="col-md-7">
			  <div class='input-group date form_date' data-date-format="yyyy-mm-dd">  
                <input type='text' class="form-control" readonly="readonly"
		        th:field ="*{startTraveltime}" required="required"/>  
                <span class="input-group-addon">  
                    <i class="glyphicon glyphicon-calendar"></i>  
                </span> 
              </div> 
            </div>  
		 </div>
	  
	 	 <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="college">出差结束时间:</label>
		    <div class="col-md-7">
			  <div class='input-group date form_date' data-date-format="yyyy-mm-dd">  
                <input type='text' class="form-control" readonly="readonly"
		        th:field="*{endTraveltime}" required="required"/>  
                <span class="input-group-addon">  
                    <i class="glyphicon glyphicon-calendar"></i>  
                </span> 
              </div> 
            </div>  
		 </div>
	  
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">出差事由:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{travelReason}"
		   placeholder="请输入出差事由" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">出差人员姓名:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{travelPersonName}"
		   placeholder="请输入出差人员姓名" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">出差人员职务:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:field="*{travelPersonPosition}" 
		  placeholder="请输入出差人员职务" required="required"/>
		  </div>
	    </div>

		<div class="col-md-12">
			<div th:replace="fragments/travel_expense_form :: travel_item_input(0)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-travel-input-button" onclick="addTravelInput();"
				style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		
		<div class="col-md-12">
			<div th:replace="fragments/travel_expense_form :: accommodation_item_input(0)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-accommodation-input-button" onclick="addAccommodationInput();"
				style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		
		<div class="col-md-12">
			<div th:replace="fragments/travel_expense_form :: other_item_input(0)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-other-input-button" onclick="addOtherInput();"
				style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		
		<input type="hidden" class="form-control" th:name="|trafficAllowances[0].allowanceName|"
	    th:value="伙食补助费"/>
	    
		<div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="days">伙食补助费天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|trafficAllowances[0].days|"
		  placeholder="请输入伙食补助费天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="standard">伙食补助费标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|trafficAllowances[0].standard|"
		  placeholder="请输入伙食补助费标准" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">伙食补助费金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|trafficAllowances[0].money|"
		  placeholder="请输入伙食补助费金额" required="required"/>
		  </div>
	    </div>
	    
	    <input type="hidden" class="form-control" th:name="|trafficAllowances[1].allowanceName|"
	    th:value="交通补贴"/>
	    
		<div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="days">交通补贴天数:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|trafficAllowances[1].days|"
		  placeholder="请输入交通补贴天数" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="standard">交通补贴标准:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|trafficAllowances[1].standard|"
		  placeholder="请输入交通补贴标准" required="required"/>
		  </div>
	    </div>
	    
	    <div class="form-group required col-md-4">
		  <label class="control-label col-md-5" for="cardnum">交通补贴金额:</label>
		  <div class="col-md-7">
		  <input type="text" class="form-control" th:name="|trafficAllowances[1].money|"
		  placeholder="请输入交通补贴金额" required="required"/>
		  </div>
	    </div>
	    
	    <div class="col-md-12">
			<div th:replace="fragments/travel_expense_form :: allowance_item_input(2)"></div>
			<button type="button" class="btn btn-info pull-left"
				id="add-allowance-input-button" onclick="addAllowanceInput();"
				style="margin-left: 4px">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
		
	    <div class="form-group required col-md-4">
		  	<label class="control-label col-md-5" for="paymode">付款方式:</label>
		  	<div class="col-md-7">
				<select class="form-control" th:field="*{paymode}"  onchange="showRequiredInfo(this.value);">
					<option value=" "></option>
					<option value="check"> 支票 </option>
					<option value="mail-transfer"> 信汇 </option>
					<option value="cash"> 现金 </option>
					<option value="borrow"> 冲借支 </option>
					<option value="online-payment"> 网上支付 </option>
				</select>
			</div>
	    </div>

		<div style="display: none" class="paymentInfo col-md-12">
			<div class="form-group required col-md-4">
				<label class="control-label col-md-5" for="payee-name">收款单位名称:</label>
				<div class="col-md-7">
					<input type="text" class="form-control" id="payee-name"
						th:field="*{payee.payee_name}" placeholder="请输入收款单位名称" />
				</div>
			</div>

			<div class="form-group required col-md-4">
				<label class="control-label col-md-5" for="payee-account">收款单位账户:</label>
				<div class="col-md-7">
					<input type="text" class="form-control" id="payee-account"
						th:field="*{payee.payee_account}" placeholder="请输入收款单位账户" />
				</div>
			</div>

			<div class="form-group required col-md-4">
				<label class="control-label col-md-5"
					for="payee-account-opening-bank">收款单位银行:</label>
				<div class="col-md-7">
					<input type="text" class="form-control"
						id="payee-account-opening-bank"
						th:field="*{payee.payee_account_opening_bank}"
						placeholder="请输入收款单位银行" />
				</div>
			</div>
		</div>

			<div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="reason_of_travel">负责人:</label>
			  <div class="col-md-7">
			    <input type="text" class="form-control" th:field="*{manager}"
			    placeholder="请输入负责人"/>
			  </div>
		</div>
		
		<div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="reason_of_travel">填报人:</label>
			  <div class="col-md-7">
			    <input type="text" class="form-control" th:field="*{submitter}" 
			    placeholder="请输入填报人"/>
			  </div>
		</div>
		
		<div class="form-group required col-md-4">
			  <label class="control-label col-md-5" for="reason_of_travel">填报人联系电话:</label>
			  <div class="col-md-7">
			    <input type="text" class="form-control" th:field="*{submitterTell}"
			    placeholder="请输入填报人联系电话"/>
			  </div>
		</div>
		
		<div class="col-md-3">
	      <button type="submit" class="btn btn-info pull-right" id="document-expense-submit">提交</button>
         </div>
      </form>
    </div>
  </div>

	<div th:fragment="travel_item_input(travelItemIndex)">
	  <script>
	dateConfiguration();
	  </script>
		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="cardnum">车船费产生日期:</label>
			<div class="col-md-7">
				<div class='input-group date form_date'
					data-date-format="yyyy-mm-dd">
					<input type='text' class="form-control" readonly="readonly"
						th:name="|travelItems[${travelItemIndex}].date|" required="required"/> 
						<span class="input-group-addon"> <i
						class="glyphicon glyphicon-calendar"></i>
					</span>
				</div>
			</div>
		</div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="cardnum">起止地点:</label>
			<div class="col-md-7">
				<input type="text" class="form-control" th:name="|travelItems[${travelItemIndex}].startEndPosition|"
				placeholder="请输入起止地点" required="required" />
			</div>
		</div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="cardnum">交通工具:</label>
			<div class="col-md-7">
				<input type="text" class="form-control" th:name="|travelItems[${travelItemIndex}].trafficTool|"
				placeholder="请输入交通工具" required="required" />
			</div>
		</div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="cardnum">途中车船费:</label>
			<div class="col-md-7">
				<input type="text" class="form-control" th:name="|travelItems[${travelItemIndex}].trafficFare|"
				 placeholder="请输入途中车船费" required="required" />
			</div>
		</div>

        <button type="button" class="btn btn-info pull-left" id="delete-travel-item-button" onclick="deleteTravelItem();">
	     <span class= "glyphicon glyphicon-remove"></span>
	    </button>
	</div>
	
	<div th:fragment="accommodation_item_input(accommodationItemIndex)">
		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="cardnum">住宿费:</label>
			<div class="col-md-7">
				<input type="text" class="form-control"
					th:name="|accommodationItems[${accommodationItemIndex}].accommodationFare|"
					placeholder="请输入住宿费" required="required" />
			</div>
		</div>

		<button type="button" class="btn btn-info pull-left" id="delete-accommodation-item-button" onclick="deleteAccommodationItem();">
		  <span class= "glyphicon glyphicon-remove"></span>
		</button>
	</div>

	<div th:fragment="other_item_input(otherItemIndex)">
		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="otherDesription">其他摘要:</label>
			<div class="col-md-7">
				<input type="text" class="form-control" th:name="|otherItems[${otherItemIndex}].otherDesription|"
				placeholder="请输入其他摘要" required="required" />
			</div>
		</div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="otherFare">其他金额:</label>
			<div class="col-md-7">
				<input type="text" class="form-control" th:name="|otherItems[${otherItemIndex}].otherFare|"
				placeholder="请输入其他金额" required="required" />
			</div>
		</div>
		
		<button type="button" class="btn btn-info pull-left" id="delete-other-item-button" onclick="deleteOtherItem();">
		  <span class= "glyphicon glyphicon-remove"></span>
		</button>
	</div>

	<div th:fragment="allowance_item_input(allowanceItemIndex)">
		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="allowanceName">补贴项目:</label>
			<div class="col-md-7">
				<input type="text" class="form-control"
					th:name="|trafficAllowances[${allowanceItemIndex}].allowanceName|" placeholder="请输入补贴项目"
					required="required" />
			</div>
		</div>
	
		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="days">补贴天数:</label>
			<div class="col-md-7">
				<input type="text" class="form-control"
					th:name="|trafficAllowances[${allowanceItemIndex}].days|" placeholder="请输入补贴天数"
					required="required" />
			</div>
		</div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="standard">补贴标准:</label>
			<div class="col-md-7">
				<input type="text" class="form-control"
					th:name="|trafficAllowances[${allowanceItemIndex}].standard|" placeholder="请输入补贴标准"
					required="required" />
			</div>
		</div>

		<div class="form-group required col-md-4">
			<label class="control-label col-md-5" for="money">补贴金额:</label>
			<div class="col-md-7">
				<input type="text" class="form-control"
					th:name="|trafficAllowances[${allowanceItemIndex}].money|" placeholder="请输入补贴金额"
					required="required" />
			</div>
		</div>
		
		<button type="button" class="btn btn-info pull-left" id="delete-allowance-item-button" onclick="deleteAllowanceItem();">
		  <span class= "glyphicon glyphicon-remove"></span>
		</button>
	</div>
</body>
</html>