.ui-jqgrid tr.jqgrow td {
    height: 33px;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 33px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: #E0E0E0;
    color:#0C1111;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    border: 1px solid #CCC;
    background: #C7C7C7;
    color: #FFF;
}

.ui-jqgrid .ui-jqgrid-sortable{
	height:30px !important;
}

.ui-pg-button{
	float:left !important;
}



