<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<link th:include="fragments/header :: header"></link>
</head>
<body>
<div id="wrapper">

	<div class="content-wrapper full-content-wrapper">
		<!-- navigation start-->
		<div th:replace="fragments/header :: nav"></div>
		<!-- navigation end-->
		<div id="page-wrapper">
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-head-line">--   请填写报销单    --</h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="row">
                    <div class="col-md-12">
                       <div th:replace="fragments/document_expense_form :: document_expense_form"></div>
                    </div>
                </div>
            </div>
            </div>
		<!-- footer -->
        <div th:replace="fragments/footer :: footer"></div>
	</div>
</div>
</body>
</html>